<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <footer>
        <div class="kontak">
            <h2>Hubungi Kami</h2>
            <p>Untuk pemesanan atau informasi lebih lanjut, silakan hubungi kami melalui:</p>
            <div class="alamat">
                <i class='bx bxs-map'><span>Jl. Rawamangun Muka Raya, Jakarta Timur</span></i>
                <i class='bx bxs-phone'><span>+6281234567891</span></i>
                <i class='bx bxs-envelope'><span>dapoerbetawi@gmail.com</span></i>
            </div>
        </div>
        <p>&copy; 2025 Dapoer Betawi. All rights reserved.</p>
    </footer>
</body>
</html>