@import './nstyle.css';
@import './fstyle.css';
:root{
    --main-color: #333333;
    --second-color: #ce8930;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
img {
    width: 100%;
}
body {
    background: url(/image/coklat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 2rem;
    justify-content: space-between;
}

#wishlist {
    color: var(--second-color);
    max-width: 900px;
    margin: 20px auto;
    padding: 0 15px;
}
#wishlist h1 {
    color: var(--second-color);
    padding: 15px 20px;
    font-size: 4.5rem;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    font-weight: 600;
    margin-top: 220px;
}
.wishlist-grid {
    display: grid;
    gap: 15px;
}
.item {
    background: #ecd19f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    padding: 15px;
    display: flex;
    align-items: flex-start;
}
.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}
.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.like-toggle {
    position: absolute;
    opacity: 0 !important;
    pointer-events: none;
    height: 0 !important;
    width: 0 !important;
}
.icon {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    display: inline-block;
}
.icon i {
    font-weight: 300;
    color: red;
}
.like-toggle:checked + .icon {
    color: red;
}
.left {
    display: flex;
    align-items: center;
    gap: 5px;
}
.text {
    line-height: 1.4;
    color: #555;
}
.text h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}